<p-table [(selection)]="atorSelecionado" [paginator]="true" [rows]="20" [value]="atores" selectionMode="single">
  <ng-template id="caption" pTemplate="caption">
    <button (click)="setFocus()" icon="pi pi-plus" label="Add" pButton></button>
    <button (click)="delete(atorSelecionado)" [disabled]="!isOneSelected()" class="botoesCabecalho" icon="pi pi-trash"
            label="Delete" pButton></button>
  </ng-template>
  <ng-template let-ator pTemplate="body">
    <tr [pSelectableRow]="ator">
      <td>{{ator["nome"]}}</td>
    </tr>
  </ng-template>
</p-table>
<p-card header="Cadastro de Ator">
  <form #formAtor="ngForm">
    <div class="ui-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="inputNome">Nome</label>
        <input [(ngModel)]="novoAtor.nome" id="inputNome" maxlength="80" name="nome" pInputText required type="text">
      </div>
    </div>
    <div class="p-grid p-justify-between">
      <button (click)="formAtor.reset()" label="Limpar" pButton type="button"></button>
      <button (click)="post(novoAtor); formAtor.reset()" [disabled]="!formAtor.form.valid" label="Cadastrar"
              pButton type="submit"></button>
    </div>
  </form>
</p-card>
