<div id="page">
  <div class="ui-sidebar" id="sidebar">
    <h2>Passatempo</h2>
    <p-card [subheader]="nomeFuncionario" header="Bem-vinde">
      <p-header>
        <div id="imagem">
          <img alt="Imagem do usuário" height="50" src="./assets/User50x50.png" width="50">
        </div>
      </p-header>
    </p-card>
    <div>
      <ul>
        <li><a> Filme </a></li>
        <li><a> Ator </a></li>
        <li><a> Diretor </a></li>
        <li><a> Classe </a></li>
        <li><a> Item </a></li>
        <li><a> Cliente </a></li>
      </ul>
    </div>
  </div>
  <div id="content">

  </div>
</div>
