<p-sidebar [(visible)]="visibleSidebar1">
  <div class="sidebar">
    <div class="sidebar-centered">
      <h2 style="font-weight:normal">Passatempo</h2>
      <p-card header="Bem-vinde" [subheader]="nomeFuncionario">
        <p-header>
          <div id="blue" style="border:1px transparent; width:50px; height:50px; margin:10px auto;">
            <img src="Card" src="./assets/User50x50.png" height="50" width="50" >
          </div>
        </p-header>
      </p-card>
    </div>
    <div id="left" style="border:1px transparent; width:50px; height:50px;">
      <ul>
        <li><a class="item"> Filme </a></li>
        <li><a class="item"> Ator </a></li>
        <li><a class="item"> Diretor </a></li>
        <li><a class="item"> Classe </a></li>
        <li><a class="item"> Item </a></li>
        <li><a class="item"> Cliente </a></li>
      </ul>
    </div>
  </div>

</p-sidebar>
