<p-table [(selection)]="classeSelecionada" [paginator]="true" [rows]="20" [value]="classes" selectionMode="single">
  <ng-template id="caption" pTemplate="caption">
    <button (click)="setFocus()" icon="pi pi-plus" label="Add" pButton></button>
    <button (click)="delete(classeSelecionada)" [disabled]="!isOneSelected()" class="botoesCabecalho"
            icon="pi pi-trash" label="Delete" pButton></button>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th scope="col">Prazo para devolução</th>
    </tr>
  </ng-template>
  <ng-template let-classe pTemplate="body">
    <tr [pSelectableRow]="classe">
      <td>{{classe["nome"]}}</td>
      <td>R$ {{classe["valor"]}}</td>
      <td>{{classe["prazoDevolucao"]}} {{classe["prazoDevolucao"] === 1 ? 'dia' : 'dias'}}</td>
    </tr>
  </ng-template>
</p-table>
<br><br>
<p-card header="Cadastro de Classe">
  <form #formClasse="ngForm">
    <div class="ui-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="inputNome">Nome</label>
        <input [(ngModel)]="novaClasse.nome" id="inputNome" maxlength="80" name="nome" pInputText required type="text">
      </div>
      <div class="p-field p-col-3">
        <label for="inputPrazoDevolucao">Prazo devolução</label>
        <p-inputNumber [(ngModel)]="novaClasse.prazoDevolucao" [useGrouping]="false" id="inputPrazoDevolucao"
                       name="prazoDevolucao" required suffix=" dias"></p-inputNumber>
      </div>
      <div class="p-field p-col-3">
        <label for="inputValor">Valor</label>
        <p-inputNumber [(ngModel)]="novaClasse.valor" [useGrouping]="false" currency="BRL" id="inputValor"
                       locale="pt-BR" mode="currency" name="valor" required></p-inputNumber>
      </div>
    </div>
    <div class="p-grid p-justify-between">
      <button (click)="formClasse.reset()" label="Limpar" pButton type="button"></button>
      <button (click)="post(novaClasse); formClasse.reset()" [disabled]="!formClasse.form.valid" label="Cadastrar"
              pButton type="submit"></button>
    </div>
  </form>
</p-card>
