<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>

<div class="list">
  <p-table [(selection)]="tituloSelecionado" [loading]="loading" [paginator]="true" [rows]="20" [value]="titulos"
           (onRowSelect)="enableEdit()" (onRowUnselect)="disableEdit(); formTitulo.reset()" selectionMode="single">
    <ng-template id="caption" pTemplate="caption">
      <button (click)="setFocus()" icon="pi pi-plus" label="Add" pButton></button>
      <button (click)="confirmExclusion(tituloSelecionado)" [disabled]="!isOneSelected()" class="botoesCabecalho"
              icon="pi pi-trash" label="Delete" pButton></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Ano</th>
        <th scope="col">Sinopse</th>
        <th scope="col">Categoria</th>
        <th scope="col">Diretor</th>
        <th scope="col">Classe</th>
      </tr>
    </ng-template>
    <ng-template let-titulo pTemplate="body">
      <tr [pSelectableRow]="titulo">
        <td>{{titulo["nome"]}}</td>
        <td>{{titulo["ano"] | date: 'dd/MM/yyyy'}}</td>
        <td>{{titulo["sinopse"]}}</td>
        <td>{{titulo["categoria"]["descricao"]}}</td>
        <td>{{titulo["diretor"]["nome"]}}</td>
        <td>{{titulo["classe"]["nome"]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Total de registros: {{titulos.length}}
    </ng-template>
  </p-table>
</div>
<div class="crud">
  <p-card header="Cadastro de Título">
    <form #formTitulo="ngForm">
      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-9">
          <label for="inputNome">Nome</label>
          <input [(ngModel)]="titulo.nome" id="inputNome" maxlength="80" name="nome" pInputText required
                 type="text">
        </div>
        <div class="p-field p-col-3">
          <label for="inputAno">Data</label>
          <p-calendar [(ngModel)]="titulo.ano" [locale]="br" dateFormat="dd/mm/yy" id="inputAno" name="ano"
                      required showButtonBar="true"></p-calendar>
        </div>
        <div class="p-field p-col-8">
          <label for="inputDiretor">Diretor</label>
          <p-autoComplete (completeMethod)="filtrarDiretores($event)" [(ngModel)]="titulo.diretor" [minLength]="1"
                          [suggestions]="diretoresFiltrados" field="nome" forceSelection="forceSelection"
                          id="inputDiretor" maxlength="80" name="diretor"></p-autoComplete>
        </div>
        <div class="p-field p-col-2">
          <label for="inputClasse">Classe</label>
          <p-dropdown [(ngModel)]="titulo.classe" [options]="classes" filter="filter" filterBy="value.nome"
                      id="inputClasse" name="classe" optionLabel="nome" placeholder="Selecione..."
                      required></p-dropdown>
        </div>
        <div class="p-field p-col-2">
          <label for="inputCategoria">Categoria</label>
          <p-dropdown [(ngModel)]="titulo.categoria" [options]="categorias" filter="filter"
                      filterBy="value.descricao" id="inputCategoria" name="categoria" optionLabel="descricao"
                      placeholder="Selecione..." required></p-dropdown>
        </div>
        <div class="p-field p-col-6">
          <label for="inputSinopse">Sinopse</label>
          <textarea [(ngModel)]="titulo.sinopse" [cols]="80" [rows]="5" autoResize="autoResize" id="inputSinopse"
                    maxlength="400" name="sinopse" pInputTextarea required></textarea>
        </div>
        <div class="p-field p-col-6">
          <label for="inputAtores">Atores</label>
          <p-listbox [(ngModel)]="titulo.atores" [checkbox]="true" [filter]="true" [multiple]="true"
                     [options]="atores" id="inputAtores" name="atores" optionLabel="nome" required></p-listbox>
        </div>
      </div>
      <div class="p-grid p-justify-between">
        <button (click)="disableEdit(); formTitulo.reset(); cleanSelection()" label="Limpar" pButton
                type="button"></button>
        <button (click)="save(titulo); formTitulo.reset(); cleanSelection()" [disabled]="!formTitulo.form.valid"
                label="Salvar" pButton type="submit"></button>
      </div>
    </form>
  </p-card>
</div>
